@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.main-header{
    display: flex;
    width: 100vw;
    height: 90px;
    margin-bottom: 30px;
}

.header__logo{
    width: 35px;
    height: 30px;
    margin: 10px 0 0 0;
}

.main-header h1{
    width: 100%;
    height: 50px;
    align-self: center;
    text-align: center;
    font-family: "Revalia";
    font-style: 'Regular';
    font-size: 1.6rem;

}

.main-container{
    display: block;
    margin: 0 calc(50% - 123px);
}

.cards {
    min-width: 246px;
    min-height: 268px;
    margin-bottom: 20px;
    background:#FCBE1E;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #0000004D;
}

.cards-cicle__logo{
    position: relative;
    top: 5px;
    left: 2%;
}

.cards-cicle__title{
    height: 40px;
    margin-top: -20px;
    margin-left: 40px;
    text-align: center;
    font-family: 'Revalia';
    font-size: 1.6rem;
    Line-height: 15px;
}

.cards__label{
    display: block;
    margin: 25px auto 20px;
    height: 30px;
    font-size: 1.2rem;
    font-family: 'Revalia';
    line-height: 12px;
    text-align: center;
}

.cards-label_triangulo{
    display: block;
    margin: 25px auto 20px;
    height: 15px;
    font-size: 1.2rem;
    font-family: 'Revalia';
    line-height: 12px;
    text-align: center;
}

.cards__inputs{
    display: block;
    width: 140px;
    height: 22px;
    margin-left: calc(50% - 70px);
    margin-bottom: 50px;
    border-radius: 9px;
    border: 0;
    text-align: center;
}

.cards__button{
    width: 78px;
    height: 26px;
    margin-top: 10px;
    background: #000000;
    color: white;
    border-radius: 5px;
    border: 0;
}

.cards__button.button-perimetro{
    margin: 0 5px 0 calc(50% - 78px);
}

.cards-inputs__triangulo{
    display: block;
    width: 140px;
    height: 22px;
    margin-left: calc(50% - 70px);
    margin-bottom: 5px;
    border-radius: 9px;
    border: 0;
    text-align: center;
}